<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.shoponline.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.shoponline.entity.Goods">
        <id column="id" property="id" />
        <result column="price" property="price" />
        <result column="old_price" property="oldPrice" />
        <result column="cover" property="cover" />
        <result column="category_id" property="categoryId" />
        <result column="tab_id" property="tabId" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="inventory" property="inventory" />
        <result column="discount" property="discount" />
        <result column="sales_count" property="salesCount" />
        <result column="freight" property="freight" />
        <result column="main_pictures" property="mainPictures" />
        <result column="product_pictures" property="productPictures" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
